body {
  background-color: #92998d;
  color: #f5f1e6;
  font-family: arial;


  /*max-width: 700px;*/
}

h2 {
  padding: 8px 10px;
}

#header {
  text-decoration: underline;
}

.feature {
  float: left;
}

.saved-list {
  border-bottom: 2px solid red;
}/* not currentlly working even when showing in the browser */

.saved-list-item {
  height: 32px;
  border-bottom: 1px solid orange;
}/* not currentlly working even when showing in the browser */

#hit-this:hover {
  background-color: grey;
}

#routes-to-do {
  overflow-x: scroll;
  max-height: 355px;
  white-space: nowrap;
  flex: none;
  border: 1px solid #f5f1e6;
}

.saved-routes{
  float: left;
  margin: 10px;
  cursor: pointer;
}

.saved-routes h2  {
    margin: 0;
}

#notes {
  width: 125px;
  text-overflow: ellipsis;
  white-space: nowrap;
  
}

#main-map {
  float: left;
  height:400px;
  width:400px;
  margin-top: 8px;
  z-index: 100;
  border-radius: 10px;
  color: black;
}

input[type=text] {
    width: 280px;
    padding: 8px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
}

#save-route {
 /* float: right;*/
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 8px 10px;
  border: none;
  border-radius: 10px;
  background-color: white;
}

#show-pubs {
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 8px 10px;
  border: none;
  border-radius: 10px;
  background-color: white;
  margin-left: 148px;
}


.inputs {
  margin: 10px;
}

.saved-routes-list {
  display: inline;
  list-style-type: none;
}

.th-name {
  text-align: left;
  width: 125px;
}

#remove-x {
  color: #511515;
  padding-right: 50px;
  /*padding-left: 10px*/

}

#h-name {
  text-align: left;
  max-width: 80px;
}

#h-done {
  text-align: left;
}

/*---------------------------------------*/
 /*The switch - the box around the slider*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 24px;
  margin-top: 4px;

}

/* Hide default HTML checkbox */
.switch input {
  display:none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*background-color: #ccc;*/
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: #f8c967;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:after {
  content: "yes";
  padding: 2px;
  text-align: center;
  color: orange;
  font-size: 12px;
}

input:checked + .slider {
  background-color: #2196F3;
  background-color: #f5f1e6;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(26px);
  transform: translateX(36px);
}

/* Rounded sliders */
.slider {
  float: center;
 /* border-radius: 34px;*/
}

.slider:before {
 /* border-radius: 50%;*/
 /* color: darkcyan;*/
}
/* Tables! */

#directions {
  float: left;
}

table {
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 8px 10px;
  width: 100%;
}

th {
    height: 30px;
}

#table-headers {
  text-align: center;

}

.saved-list th, td {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}