body {
  background-color: #333;
  color: white;
  font-family: courier;
  max-width: 700px;
}

#header {
  text-decoration: underline;
}

#main-map {
  height:600px;
  width:600px;
}

.inputs {
  margin: 10px;
}

.saved-routes-list {
  display: inline;
  list-style-type: none;
}