body {
  background-color: lightgrey;
  color: white;
  font-family: courier;
  /*max-width: 700px;*/
}

#header {
  text-decoration: underline;
}

.feature {
  float: left;
}

.saved-list {
  border-bottom: 2px solid red;
}/* not currentlly working even when showing in the browser */

.saved-list-item {
  border-bottom: 1px solid orange;
}/* not currentlly working even when showing in the browser */

.saved-routes{
  float: left;
  margin: 10px;
}

.saved-routes h2  {
    margin: 0;
}

#main-map {
  float: left;
  height:400px;
  width:400px;
/*  border-radius: 10px;*/
}

input[type=text] {
    width: 280px;
    padding: 8px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
}

#save-route {
 /* float: right;*/
  margin-top: 8px;
  padding: 8px 10px;
  border: none;
  border-radius: 10px;
  background-color: white;
}


.inputs {
  margin: 10px;
}

.saved-routes-list {
  display: inline;
  list-style-type: none;
}

.th-name {
  text-align: left;
}

.remove-x {
  color: red;
}

/*---------------------------------------*/
 /*The switch - the box around the slider*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  display:none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*background-color: #ccc;*/
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: orange;
  -webkit-transition: .4s;
  transition: .4s;
}

/*.slider:after {

}*/

input:checked + .slider {
  /*background-color: #2196F3;*/
  background-color: orange;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(26px);
  transform: translateX(36px);
}

/* Rounded sliders */
.slider {
  border-radius: 34px;
}

.slider:before {
  border-radius: 50%;
  color: darkcyan;
}
/* Tables! */

#directions {
  float: left;
}